{% extends "AppCoder/base.html" %}
{% load static %}

{% block ContenidoCambio %}
<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container px-5">
            
            <a class="btn btn-primary btn-xl rounded-pill mt-5" href="{% url 'AppCoderFormularioNadador' %}">Cargar Datos</a>
        </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
</header>

{% endblock ContenidoCambio %}


{% block ContenidoQueAgrega %}

{% endblock ContenidoQueAgrega%}


{% block ContenidosSection %}

{% endblock ContenidosSection   %}