{% extends "AppCoder/base.html" %}

{% block ContenidoCambio %}

<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container px -5">
            <b><b> Busqueda sin resultados </b></b> </br>
            </br>
            </br>
            <a class="btn btn-primary btn-l rounded-pill mt-5" href="{% url 'AppCoderBusquedaNadador' %}">Volver a Buscar</a>

        </header>



{% endblock ContenidoCambio %}

{% block ContenidosSection %}

{% endblock ContenidosSection   %}